<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CSoftZDemoDataModel" connectionString="metadata=res://*/src.Helper.Linq.CSoftZDemoDataModel.csdl|res://*/src.Helper.Linq.CSoftZDemoDataModel.ssdl|res://*/src.Helper.Linq.CSoftZDemoDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=CSOFTZVMW7\sqlexpress;Initial Catalog=Demo;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>